* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Fredoka", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
}

.main,
.feature {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  color: #28b5ff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0;
}

.heading {
  color: #000;
  font-weight: 900;
  font-size: 55px;
}

.btn {
  color: #000;
  text-align: center;
  margin: auto 0;
  background-color: #fff;
  position: relative;
}

.btn::before,
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.btn::before {
  transform: rotate(5deg);
  border: 1px solid rgba(128, 128, 128, 0.564);
}
.btn::after {
  transform: rotate(-5deg);
  border: 1px solid rgba(128, 128, 128, 0.565);
}

button {
  padding: 10px 20px;
  background-color: #fff;
  color: #28b5ff;
  font-size: 15px;
  border: none;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}

/* Start */
.feature {
  display: flex;
  margin-top: 200px;
  gap: 30px;
}

.feature__item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}
.feature__item::before,
.feature__item::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
  transition: all 0.4s ease-out;
}
.feature__item::before {
  padding: 0.5rem;
  top: -10px;
  left: -0.5rem;
  border: 1px solid transparent;
}
.feature__item::after {
  transform: rotate(0deg);
  text-align: center;
  border: 1px solid transparent;
  top: 10px;
}
.feature__item:hover::after,
.feature__item:hover::before {
  border-color: #c9d2d6;
}
.feature__item__icon i {
  font-size: 3.5rem;
  color: #28b5ff;
  margin-right: 10px;
}
