*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.h4-web{
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: clamp(22px, 2.5vw, 26px);
}
.checkout{
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: clamp(32px, 4vw, 51px);
}

.container-websites{
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    max-width: 100%;

    .container-child{
        padding: 2.8rem 1.1rem 2.8rem;
        margin: 1.1rem;
        max-width: 100%;
        border-radius: 20px;
        display: flex;
        transition: 300ms ease-in-out;

        &:hover{
            background-color: #f3f3f3;
            box-shadow: 13px 12px 24px 1px #776d6dcc;
        }
        .container-child-img{
            margin-right: 1rem;
            .img-brand{
                border-radius: 50%;
                max-width: 50px;
                background-color: #fff;
                display: inline-block;
            }
        }
        .container-child-text{
            display: inline-block;

            .para-websites{
                line-height: 22px;
                font-size: 1rem;
                font-weight: 600;
                color: #050303;
            }
            .websites-ul{
                margin-top: 1rem;
                opacity: 0.9;
                list-style-type: none;

                .li-websites{
                    line-height: 24px;

                    &:hover{
                        text-decoration: underline;
                        cursor:default;
                    }
                }
            }
        }
    }

}