@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

$primary-font-family: "Roboto", sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.features {
    &__container {
        padding: 4rem 0;
    }

    &__name {
        font-family: $primary-font-family;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 8rem;
    }

    &__showcase {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12rem;

        &__content {
            width: 40%;
            padding-top: 8rem;

            &__icon {
                border-radius: 50%;
                display: block;
                margin-bottom: 1rem;
            }

            &__name {
                font-family: $primary-font-family;
                font-size: 2.75rem;
                margin-bottom: 1.5rem;
            }

            &__info {
                font-family: $primary-font-family;
            }
        }

        &__banner {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 50%;

            > *:not(.features__showcase__banner__image) {
                position: absolute;
            }

            &__image {
                border-radius: 4rem;
                border: 0.4rem solid #000000;
            }

            &__background {
                width: 500px;
                height: 500px;
                background: rgba(125, 183, 238, 0.295);
                border-radius: 50%;
                z-index: -1;
            }

            &__courses {
                top: 10rem;
                right: 2rem;
                background: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

                &__icon {
                    border-radius: 1rem;
                    padding: 0.4rem;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                }

                &__name {
                    font-family: $primary-font-family;
                    font-weight: 500;
                }
            }

            &__discount {
                left: 0;
                bottom: 2rem;
                background: #ffffff;
                display: flex;
                flex-direction: column;
                padding: 0.75rem;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

                &__banner {
                    border-radius: 1rem;
                    padding-bottom: 1rem;
                }

                &__content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid #70707070;
                    padding-top: 1rem;

                    &__name {
                        width: 65%;
                        font-family: $primary-font-family;
                        font-weight: 500;

                        &__highlighted {
                            color: orange;
                        }
                    }

                    &__icon {
                        width: 25%;
                        border-radius: 50%;
                    }
                }
            }

            &__tutor {
                right: 0;
                bottom: 4rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                background: #ffffff;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                padding: 0.75rem;
                border-radius: 1rem;

                &__content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 4rem;

                    &__description {
                        display: flex;
                        flex-direction: column;

                        &__name {
                            font-family: $primary-font-family;
                            font-weight: 500;
                        }

                        &__info {
                            font-family: $primary-font-family;
                            font-size: 0.75rem;
                            opacity: 0.65;
                        }
                    }

                    &__icon {
                        border-radius: 50%;
                    }
                }

                &__stats {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &__showcase {
                        > * {
                            position: relative;
                            border-radius: 50%;
                            border: 2px solid #ffffff;
                        }

                        &__image:nth-child(1) {
                            left: 0;
                        }

                        &__image:nth-child(2) {
                            left: -1.5rem;
                        }

                        &__image:nth-child(3) {
                            left: -3rem;
                        }
                    }

                    &__content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 0.2rem;
                        font-family: $primary-font-family;
                        border: 1px solid rgba(128, 128, 128, 0.5);
                        border-radius: 1rem;
                        padding: 0.5rem 1.2rem;

                        &__highlighted {
                            font-weight: 500;
                        }

                        &__info {
                            font-size: 0.75rem;
                            opacity: 0.65;
                        }
                    }
                }
            }
        }
    }

    &__pricing {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content: center;

        &__banner {
            width: 50%;
            min-height: 420px;
            position: relative;

            &__background {
                height: 400px;
                width: 400px;
                background: rgba(125, 183, 238, 0.295);
                border-radius: 50%;
                position: absolute;
                z-index: -2;
            }

            &__rating {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                background: #ffffff;
                padding: 1rem 0.75rem;
                width: fit-content;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                border-radius: 0.5rem;
                position: absolute;
                top: 50%;
                left: 2rem;
                z-index: 1;
                transform: translateY(-50%);

                &__icon {
                    border-radius: 50%;
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    font-family: $primary-font-family;

                    &__name {
                        font-weight: 500;
                    }

                    &__info {
                        font-size: 0.75rem;
                        opacity: 0.65;
                    }
                }
            }

            &__cards {
                &__item {
                    position: absolute;
                    padding: 2rem 4rem;
                    background: #ffffff;
                    border-radius: 0.5rem;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                    width: fit-content;

                    &__name {
                        display: block;
                        font-family: $primary-font-family;
                        text-align: center;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }

                    &__info {
                        display: block;
                        text-align: center;
                        font-family: $primary-font-family;
                        text-align: center;
                        opacity: 0.65;
                    }

                    &__price {
                        margin: 2rem 0;
                        font-family: $primary-font-family;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;

                        &__highlighted {
                            font-size: 2.5rem;
                            font-weight: 700;
                        }

                        &__superscript {
                            font-weight: 700;
                            font-size: 1.5rem;
                        }
                    }

                    &__features {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.5rem;
                        font-family: $primary-font-family;
                        opacity: 0.65;
                        margin-bottom: 2rem;
                    }

                    &__call_to_action {
                        text-decoration: none;
                        font-family: $primary-font-family;
                        color: #ffffff;
                        font-weight: 500;
                        display: block;
                        text-align: center;
                        padding: 1.5rem 2rem;
                        border-radius: 0.75rem;
                        background: linear-gradient(to right, rgb(78, 189, 223), rgb(73, 147, 231));

                        &--special {
                            @extend .features__pricing__banner__cards__item__call_to_action;
                            background: linear-gradient(to right, rgb(223, 165, 78), rgb(231, 105, 73));
                        }
                    }
                }

                &__item:nth-child(1) {
                    left: 8rem;
                }

                &__item:nth-child(2) {
                    left: 18rem;
                    transform: scale(0.85);
                    z-index: -1;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                }
            }
        }

        &__content {
            width: 40%;

            &__icon {
                display: inline-block;
                border-radius: 50%;
                margin-bottom: 1rem;
            }

            &__name {
                font-size: 2.75rem;
                font-family: $primary-font-family;
                margin-bottom: 2rem;
            }

            &__info {
                font-family: $primary-font-family;
                opacity: 0.65;
                margin-bottom: 3rem;
            }

            &__plan_switch {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: fit-content;
                border-radius: 2rem;
                font-family: $primary-font-family;

                &__monthly {
                    padding: 2rem 3rem;
                    color: rgb(33, 30, 202);
                    background: rgba(160, 168, 241, 0.342);
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                }

                &__yearly {
                    padding: 2rem 3rem;
                    background: rgb(33, 30, 202);
                    color: #ffffff;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .features {
        &__showcase {
            flex-direction: column;

            &__content {
                width: 100%;
                margin-bottom: 4rem;
            }

            &__banner {
                width: 100%;
            }
        }

        &__pricing {
            flex-direction: column;

            &__banner {
                // background: red;
                width: 100%;

                &__background {
                    left: 20%;
                }

                &__rating {
                    left: 25%;
                }

                &__cards {
                    &__item:nth-child(1) {
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &__item:nth-child(2) {
                        left: 70%;
                        transform: translateX(-70%) scale(0.85);
                    }
                }
            }

            &__content {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .features {
        &__name {
            font-size: 3.5rem;
            margin-bottom: 0;
        }

        &__showcase {
            &__banner {
                &__courses {
                    top: 2rem;
                    right: auto;
                }

                &__discount {
                    top: 8rem;
                    bottom: auto;
                }
            }
        }

        &__pricing {
            &__banner {
                margin-bottom: 4rem;

                &__background {
                    width: 300px;
                    height: 300px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &__rating {
                    top: 47%;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &__cards {
                    padding: 4rem 0;

                    &__item {
                        margin: 0 auto;
                    }

                    &__item:nth-child(1) {
                        position: static;
                        transform: none;
                        margin-bottom: 2rem;
                    }

                    &__item:nth-child(2) {
                        position: static;
                        transform: none;
                    }
                }
            }
        }
    }
}
