$primary-color: hsl(241, 49%, 37%);
$secondary-color: hsl(32, 97%, 59%);

$primary-font: "Poppins", sans-serif;
$secondary-font: "Open Sans", sans-serif;

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-grey: hsl(0, 0%, 50%);
