@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
:root {
  --clr-primary: #1d1d1f;
  --clr-secondary: #aaaab3;
  --clr-third: #fd5b2f;
  --clr-foruth: rgba(231, 210, 205, 0.788);
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* footer section */
.footer {
  padding-top: 2rem;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* footer nav */
.fa-house {
  font-size: 2.3rem;
  color: var(--clr-third);
}
.logo-text {
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-primary);
  padding-left: 5px;
  padding-top: 5px;
}
.fa-twitter {
  padding: 9px;
  background-color: var(--clr-foruth);
  color: var(--clr-primary);
  border-radius: 8px;
}
.fa-twitter:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
  background-color: #00b9ff;
  color: white;
}
.fa-facebook-f {
  padding: 9px 13px;
  background-color: var(--clr-foruth);
  color: var(--clr-primary);
  border-radius: 8px;
}
.fa-facebook-f:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
  background-color: #4267b2;
  color: white;
}
.fa-linkedin-in {
  padding: 9px 13px;
  background-color: var(--clr-foruth);
  color: var(--clr-primary);
  border-radius: 8px;
}
.fa-linkedin-in:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
  background-color: #0072b1;
  color: white;
}
.footer-icon {
  padding-right: 17px;
  transition: all 0.3s ease;
}
.footer-icon:hover {
  transform: scale(1.1);
}
.footer-icons {
  padding-top: 3rem;
}

/* .footer-menu */
.footer-menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.fm-header {
  padding-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.fm-header a {
  color: var(--clr-primary);
}
.fm-list {
  padding-bottom: 10px;
}
.fm-list a {
  color: var(--clr-secondary);
}
.fm-list a:hover {
  color: black;
}
/* last footer */
.last-footer {
  padding-top: 3rem;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #dcdcdd;
}
.ftr-text {
  color: var(--clr-secondary);
  padding-top: 2.5rem;
}
.ftr-bn {
  padding-left: 10px;
  color: var(--clr-secondary);
}
.ftr-btn {
  padding-top: 2.5rem;
}
.ftr-bn:hover {
  color: #1d1d1f;
}
@media (max-width: 640px) {
  .footer-item {
    flex-direction: column;
    text-align: center;
  }
  .footer-nav {
    align-self: center !important;
    margin-bottom: 50px;
  }
  .footer-menu {
    flex-direction: column;
  }
  .copyright {
    flex-direction: column;
  }
  .ftr-text {
    text-align: center;
  }
  .fm-header {
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 950px) {
  .footer-item {
    gap: 25px;
  }
  .footer-nav {
    min-width: 30%;
    align-self: flex-start;
  }
  .footer-menu {
    flex-wrap: wrap;
  }
  .fm-item {
    flex: 1 1 40%;
  }
}
